@keyframes fx-rotate-360{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes fx-soft-up-and-down{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(0.8);
    }
}

body{
    padding-bottom: 32px;
}

.bg-gray-super-light{
    background-color: #f0f0f0;
}
.bg-purple-dark{
    background-color: #511e5e;
}

.c-purple-light{
    color: #d28ee3;
}

.card{
    box-shadow: 0px 0px 0px black;
    border: 4px solid #511e5e;
    padding: 32px;

    transition: box-shadow 2s ease-in;
}

.card:hover{
    box-shadow: 0px 2px 3px black;
}

.hover-gray-scale > *{
    filter: grayscale(100%);

    transition: filter .4s;
}

.hover-gray-scale > *:hover{
    filter: grayscale(0%);
}

.lead{
    font-size: 2rem;
}

.navbar{
    padding-left: 48px;
    padding-right: 48px;
}

/*The container*/
#modulesCircle{
    margin: 120px 0px;
}

 /*Circle of modules*/
#modulesCircle img:nth-child(1){
    height: 280px;
    width: 280px;
    transform-origin: center;
    position: absolute;
    margin: -20px -40px;

    animation: fx-rotate-360 20s linear 1s infinite;
}

/*Lore logo*/
#modulesCircle img:nth-child(2){
    height: 192px;

    animation: fx-soft-up-and-down 10s alternate 1s infinite;
}

.nav-item > a{
    color: #563a5e !important;
}

.nav-item.active > a{
    color: #511e5e !important;

    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    transition: color .2s;
}

.nav-item > a:hover{
    color: #9337aa !important;
}